{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}

    <h1 class="p-2">Trouve ton bonheur parmi <span class="text-danger">{{ adList.getTotalItemCount() }} annonces déposées</span> !</h1>

    <table class="table table-bordered table-striped">

            <tr>
                <th>{{ knp_pagination_sortable(adList, 'Titre', 'a.title') }} A->z</th>
                <th>Texte de l'annonce</th>
                <th>Catégorie</th>
                <th>{{ knp_pagination_sortable(adList, 'Publiée le', 'a.createdAt') }}</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>


        {% for ad in adList %}
            <tr>
                <td>{{ ad.title }}</td>
                <td>{{ ad.text | u.truncate(30) }} ... <a href="{{ path('ad-details', {"id":ad.id}) }}">consulter</a></td>
                <td>{{ ad.category.titleCategory }}</td>
                <td>{{ ad.createdAt ? ad.createdAt|date('d-M-Y') : '' }}</td>
                <td>{{ ad.price }} €</td>
                <td>
                    <a href="{{ path('ad-details', {'id': ad.id}) }}">show</a>
                    <a href="{{ path('ad-edit', {'id': ad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'annonce trouvée !</td>
            </tr>
        {% endfor %}

    </table>


    <div>
        {{ knp_pagination_render(adList) }}
    </div>
{% endblock %}



